*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.bg-container .bg-up{
    width: 100%;
    height: 20vh;
    background-color: #009688;
}

.bg-container .bg-down{
    width: 100%;
    height: 80vh;
    background-color: #d8dbd6;
}

.bg-container .main-screen{
    width: 80%;
    margin: 0 auto;
    height: 95vh;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
}

/* common chat-group & chat-view */

.main-screen .chat-group,
.main-screen .chat-view {
    height: 100%;
}

.main-screen .chat-group {
    width: 30%;
}


/* Chat View */

.main-screen .chat-view{
    width: 70%;
}

/* Header */

.main-screen .chat-group .header,
.main-screen .chat-view .header{
    width: 100%;
    height: 8%;
    background-color: #eaeaea;
}

.main-screen .chat-view .header{
    border-left: 1px solid #b1b1b1;
}

.main-screen .chat-view .header .img-avatar,
.main-screen .chat-view .header .icons,
.main-screen .chat-group .header .img-avatar,
.main-screen .chat-group .header .icons {
    width: calc(100% / 2);
}

.main-screen .chat-view .header .icons i{
  cursor: pointer;
}

.chat-view .header .img-avatar .cliped,
.chat-group .header .img-avatar .cliped{
    width: 2.5rem;
    height: 2.5rem;
}

.chat-view .header .img-avatar .cliped img,
.chat-group .header .img-avatar .cliped img,
.chat-group .chat-list .cliped img{
    width: 100%;
    border-radius: 50%;
}

.header .img-avatar .text-avatar h5,
.chat-list .text-description h5{
    font-size: 1rem;
    margin: 0 0.25rem;
}

.header .img-avatar .text-avatar span,
.chat-list .text-description span{
    font-size: 0.8rem;
    margin: 0 0.8rem 0 0.25rem;
    display: block;
    opacity: 0.5;
}

.header .icons i{
    margin: 0px 5px;
    color: #b6b3b2;
}

.chat-view .menu-chat{
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    
}

.chat-view .menu-chat p{
    font-size: 1rem;
    color: red;
    padding: 15px;
    margin: 0;
    cursor: pointer;
}

.chat-view .menu-chat:hover{
    border: 1px solid red;
}




/* Main */

.main-screen .chat-view .main{
    width: 100%;
    height: 84%;
    background-image: url(../img/mine.jpg);
    background-size: cover;
    background-position: center;
}



/* Footer */

.main-screen .chat-view .footer {
    width: 100%;
    height: 8%;
    background-color: #f3eeea;
}

.main-screen .chat-view .footer .txt-emoji,
.main-screen .chat-view .footer .txt-rec{
    width: 10%;
    font-size: 1.3rem;
}

.main-screen .chat-view .footer .txt{
    width: 80%;
}


/* Chat Group */


/* desktop notification */

.main-screen .chat-group .main{
    width: 100%;
    height: 8%;
    background-color: #8edafc;
}

.main-screen .chat-group .main .icon{
    width: 20%;
}

.main-screen .chat-group .main .text-description{
    width: 80%;
}

.main-screen .chat-group .main .cliped{
    width: 2.8rem;
    height: 2.8rem;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    margin-left: 0.7rem;
}

.main-screen .chat-group .main .cliped i{
    color: #8edafc;
    line-height: 3rem;
    font-size: 1.4rem;
}

.chat-group .main .text-description a{
    color: black;
    display: inline-block;
    font-size: 0.8rem;
}

.chat-group .main .text-description span{
    font-size: 0.8rem;
}


/* chat search */

.chat-group .chat-src {
    height: 7%;
    width: 100%;
    background-color: white;
}

/* chat list */

.chat-list{
    overflow-y: auto;
}

.chat-group .chat-list{
    height: calc(100% - 8% - 8% - 7%);
    background-color: white;
}

.chat-group .chat-list .icon{
    width: 25%;
}

.chat-group .chat-list .cliped{
    width: 3.5rem;
    height: 3.5rem;
}

.chat-group .chat-list .text-description{
    width: 75%;
}

.chat-group ul{
    width: 100%;
    padding: 0;
}

.chat-group ul li{
    width: 100%;
    list-style: none;
    cursor: pointer;
}

.chat-group ul li:hover{
    background-color:#eaeaea;
}

.chat-list .date span{
    opacity: 0.5;
    font-size: 0.7rem;
    padding-right: 5px;
}

.message-sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message-received{
    background-color: white;
    align-self: flex-start;
}

/* Chat view */

.chat-view .main .chat-message {
    max-width: 45%;
    min-width: 40%;
}

.chat-view .main .container{
    overflow-y: auto;
}

.chat-view .main span{
    bottom: 0;
    right: 5px;
    font-size: 0.7rem;
    opacity: 0.4;
}

.chat-view .main .arrow-down{
    top: 0;
    right: 5px;
    font-size: 0.9rem;
    opacity: 0.6;
    cursor: pointer;
}

.chat-view .message-option-menu{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    padding: 6px;
    text-align: left;
    border-radius: 0.3rem;
    
}

.chat-view .message-option-menu p{
    font-size: 0.7rem;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;    
}

.chat-view .message-option-menu p:hover{
    background-color: #eaeaea;   
}

@media screen and (max-width: 700px) {

    .main-screen .chat-group {
        display: none;
    }
    
    
    /* Chat View */
    
    .main-screen .chat-view{
        width: 100%;
    }

    .chat-group .main .text-description a{
        display: none;
    }
    
    .chat-group .main .text-description span{
        display: none;
    }

  }

  @media screen and (max-width: 900px) {

    .chat-group .main .text-description a{
        display: none;
    }
    
    .chat-group .main .text-description span{
        display: none;
    }

  }
